/*** Global ***/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #F3EBF6;
  font-family: Alegreya, "Times New Roman", serif;
  font-size: calc(10px + (16 - 10) * ((100vw -
    375px) / (1600 - 375)));
  margin: 0;
  min-height: 100vh;
}

img {
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  min-height: 70vh;
  width: 80%;
}

.errors-container {
  border: 1px solid #a33a3a;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  color: #ba3939;
  height: auto;
  margin: 2rem auto;
  text-align: center;
  width: 400px;
}

.errors {
  background: #ffe0e0;
  border-radius: 1.5em;
  list-style: none;
  margin: 10px;
  padding: 10px;
}

.hide {
  display: none;
}

#message {
  color: var(--main-color);
}

/*** Variables ***/

:root {
  --main-color: #FF9324;
  --accent-color: #F16B2E;
  --secondary-color: #011E30;
  --tertiary-color: #168CD1;
  --remove-color-main: #a82929;
  --remove-color-accent: #a56161;
}


/*** Banner ***/

.banner-image{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 30rem;
  position: relative;
  width: 100%;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner-text {
  color: #eee;
  padding: 50px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/*** Nav ***/

nav,
footer {
	background-color: var(--secondary-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 5px;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  padding-top: .5em;
	padding-bottom: .5em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

nav ul {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  color: var(--secondary-color);
}

nav h1 {
  margin: 0;
}

nav a,
nav h1 {
  color: var(--main-color);
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

nav li:last-of-type {
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

footer {
  color: var(--accent-color);
  text-align: center;
}

/*** Index and Locations ***/

.wrapper article {
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.content {
  border: 2px solid var(--accent-color);
  margin-bottom: 2rem;
  text-align: center;
}

.content a {
  color: var(--secondary-color);
  text-decoration: none;
}

/*** Single Location ***/

.location-content {
  padding-bottom: 20px;
}

.location-content .location-info {
  margin-top: 80px;
}

.location-info {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(22, 140, 209,.7);
  margin: 20px auto 0 auto;
  padding:50px;
  position: relative;
  width: 90%;
}

.location-info img {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(22, 140, 209,.7);
  display: block;
  margin: 0 auto;
} 

.location-info .remove-button {
  display: block;
  text-align: center;
}

.location-info h3,
.location-info address,
.location-content h2 {
  text-align: center;
}

h2,
h3 {
  color: var(--tertiary-color);
}

/*** Forms ***/

.login-form {
  background-color: #fff;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  height: auto;
  margin: 7em auto;
  padding-bottom: 2rem;
  text-align: center;
  width: 70%;
}

.login-form form {
  padding-top: 40px;
}

.login-sign {
  color: var(--tertiary-color);
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
}

.input-field {
  background: rgba(136, 126, 126, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-bottom: 27px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  width: 76%;
}

.input-field:focus {
  border: 2px solid rgba(22, 140, 209,.7) !important;
}

.button,
.remove-button {
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #056091, #0492DD);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5em;
  font-size: 13px;
  font-weight: 700;
  margin-top: 2rem;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.remove-button {
  background: linear-gradient(to right, var(--remove-color-main), var(--remove-color-accent));
}

label {
  color: var(--secondary-color);
}

/*** Review ***/

.review {
  align-content: center;
  align-items: center;
  border-bottom: 2px dotted var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

.review-info {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(22, 140, 209,.7);
  clear: both;
  display: block;
  margin: 20px auto 0 auto;
  padding:50px;
  width: 80%;
}

.review p:first-of-type,
.review p:nth-of-type(3) {
  color: #fff;
  background: linear-gradient(to right, #bd7019, #F79324);
  border-radius: 5em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  text-align: center;
  width: 100%;
}

.review p:nth-of-type(2){
  align-self: flex-start;
}

.review .button {
  margin-bottom: 2rem;
}

.review .remove-button {
  text-align: center;
}
 
.hide + .button {
  margin-top: 2rem;
}

/*** Gallery ***/

.gallery {
  column-count: 2;
  column-gap: 0px;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  margin: 0 auto;
  padding-top: 3rem;
  width: 70%;
}

.gallery img {
  border: 1px solid var(--tertiary-color);
  height: auto;
  width: 100%;
}

.location-content h2 + .button {
  display: flex;
  justify-content: center;
}

/*** Table ***/

.table-wrapper{
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  overflow-x:auto;
  padding-top: 2rem;
}

.table-wrapper table {
  background-color: #fff;
  border: none;
  border-collapse: collapse;
  border-radius: 5px;
  font-weight: normal;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
}

.table-wrapper table td,
.table-wrapper table th {
  padding: 8px;
  text-align: center;
}

.table-wrapper table td {
  border-right: 1px solid #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table-wrapper table thead th {
  background: var(--tertiary-color);
  color: #fff;
}


.table-wrapper table thead th:nth-child(odd) {
  background: var(--secondary-color);
  color: #fff;
}

.table-wrapper table tr:nth-child(even) {
  background: #F8F8F8;
}

/*** Modal ***/

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  left: 50%;
  position: absolute;
  padding: 1rem 1.5rem;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 24rem;
}

.modal .remove-button {
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
  line-height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}

.show-modal {
  opacity: 0;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  visibility: hidden;
} 

/*** Media Queries ***/

@media only screen and (min-width: 1133px) {
  .wrapper .content {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    width: 100%;
  }
  
  .wrapper .content:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
  }
  
  .wrapper .content::before {
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.07;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .wrapper .content:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
  }
  
  .wrapper .card {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .card img {
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.2s ease;
    width: 400px;
  }
  
  .wrapper .content:nth-child(2n) img {
    left: initial;
    right: 0;
  }
  
  .wrapper .content:hover .card img {
    transform: scale(1.05) rotate(1deg);
  }
  
  .wrapper .text-box {
    bottom: 7%;
    left: 430px;
    position: absolute;
    top: 7%;
    width: calc(100% - 470px);
  }
  
  .wrapper .content:nth-child(2n) .text-box {
    left: initial;
    right: 430px;
  }
  
  .wrapper .text-box::before,
  .wrapper .text-box::after {
    background: #fff;
    content: "";
    display: block;
    height: 140%;
    left: -55px;
    position: absolute;
    top: -20%;
    transform: rotate(8deg);
    width: 60px;
  }
  
  .wrapper .content:nth-child(2n) .text-box::before {
    display: none;
  }
  
  .wrapper .text-box::after {
    display: none;
    left: initial;
    right: -55px;
  }
  
  .wrapper .content:nth-child(2n) .text-box::after {
    display: block;
  }
  
  .wrapper .text-box * {
    position: relative;
  }
  
  .text-box p {
    color: #424242;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
  }
}

@media only screen and (max-width: 500px) {
  .login-form,
  .review-info,
  .gallery,
  .location-info {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {

  /*** Nav ***/
  nav,
  nav ul {
    display: flex;
  }

  nav {
    align-items: center;
    flex-direction: column;
  }

  /*** Table ***/

}

@media only screen and (min-width: 1025px) {

  /*** Nav ***/

  nav {
    flex-direction: row;
    justify-content: space-between;
  }  

}
